In [2]:
import os
from dotenv import load_dotenv

import pandas as pd
import numpy as np
from sqlalchemy import create_engine, types, text

import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# Create an interactive temperature map with plotly

**Choose one (or more) of these options and plot using `plotly`:**

+ ### Create animated choropleth map of the temperature of selected countries over time.


**Tips:** To be able to make a choropleth map, you are going to need the iso alpha codes for the countries you selected. After preparing your dataframe you can use the iso_codes.csv file below and concatenate with the prepared dataframe you are going to use for your map. You can use average, min or max temperatures. Use the `choropleth` plot function from `plotly` with its `animation_frame` parameter in order to animate the plot for different time.

Iso codes
> + [iso_codes.csv (5 KB)](http://spiced-12-weeks-da.s3-website.eu-central-1.amazonaws.com/08-dashboarding/plotly-maps.files/iso_codes.csv)


+ ### Create scattermap of all the locations in the data.

**Tips:** You can use the filtered datamarts for some specific countries. For this map, you are going to need the `lat` and `lon` data for the stations, which already exist in the original data. Use the `scatter_geo` function from `plotly` to visualize the locations of the each weather station/city. scatter_geo Documentation

_**Bonus**_

+ ### Create warming stripes for one station over time to inspect warming over time.

**Tips:** Use a data mart you prepared or filter data for one location over the largest timeframe possible. Use the date, average temp to create warming stripes showing the change in average temperature over time. This can be done using the `bar()` plot with some tweaks. The goal is a plot similar to this with some anntonation if possible.

In [3]:
import os
from dotenv import load_dotenv

load_dotenv()

username = os.getenv('POSTGRES_USER')
password = os.getenv('POSTGRES_PW')
host = os.getenv('POSTGRES_HOST')
port = os.getenv('POSTGRES_PORT')
database = os.getenv('DB_CLIMATE')

url = f'postgresql://{username}:{password}@{host}:{port}/{database}'
        
engine = create_engine(url, echo=False)

engine.url

postgresql://postgres:***@34.141.104.250:5432/climate

In [4]:
df = pd.read_sql(sql=text('SELECT * FROM combined_climate_data'), con=engine)
df['country'] = df['country'].replace('United Kingdom', 'United Kingdom of Great Britain and Northern Ireland')

In [5]:
iso_codes = pd.read_csv('../data/iso_codes.csv')
iso_codes

               country alpha-3   region
0          Afghanistan     AFG     Asia
1        Åland Islands     ALA   Europe
2              Albania     ALB   Europe
3              Algeria     DZA   Africa
4       American Samoa     ASM  Oceania
..                 ...     ...      ...
244  Wallis and Futuna     WLF  Oceania
245     Western Sahara     ESH   Africa
246              Yemen     YEM     Asia
247             Zambia     ZMB   Africa
248           Zimbabwe     ZWE   Africa

[249 rows x 3 columns]

In [ ]:
combined_data=iso_codes.merge(df, how='right', on='country')
combined_climate_iso = combined_data.rename(columns={'region_x': 'continent', 'region_y':'region'})

combined_climate_iso[combined_climate_iso['city']=='London']

In [ ]:
combined_climate_iso.to_sql('combined_climate_iso', con=engine, if_exists='replace', index=False)

+ ## Create animated choropleth map of the temperature of selected countries over time.

In [ ]:
avg_cntry_temps=combined_climate_iso.set_index('alpha-3').groupby('alpha-3')[['wkly_avgtemp']].mean().reset_index()
avg_cntry_temps

In [ ]:
fig = px.choropleth(
    data_frame=avg_cntry_temps,
    locations="alpha-3",
    projection='orthographic',
    color="wkly_avgtemp", 
    hover_name="alpha-3",
    color_continuous_scale="Turbo",
    range_color=[-12, 27]
)
fig.write_html('orthograph_country_temps.html', include_plotlyjs='cdn')

+ ## Create scattermap of all the locations in the data.

In [ ]:
total_averages = pd.read_sql(sql=text('SELECT * FROM total_averages'), con=engine)
total_averages.describe()

In [ ]:
total_averages['alpha']=(total_averages['overall_precip_mm']/10000)*2.6
total_averages[['alpha']].describe()

In [ ]:
alpha = total_averages['alpha']

fig = px.scatter_mapbox(total_averages, 
                        lat="lat", lon="lon", 
                        hover_name="city",
                        hover_data=["total_precip_days",'overall_precip_mm','lat','lon'],
                        size="total_precip_days",
                        #color="city",
                        #color_continuous_scale='thermal', 
                        opacity=alpha,
                        labels='city',
                        # start location and zoom level
                        zoom=1, center={'lat': 40.910000, 'lon': 3.831000}, 
                        mapbox_style='carto-positron')
fig.update_layout(
    title="Precipitation Days and Volume (Nov'22 - Nov'23) All Locations"
)
#fig.update_layout(
#    mapbox_style="white-bg",
#    mapbox_layers=[
#        {
#            "below": 'traces',
#            "sourcetype": "raster",
#            "sourceattribution": "United States Geological Survey",
#            "source": [
#                "https://basemap.nationalmap.gov/arcgis/rest/services/USGSImageryOnly/MapServer/tile/{z}/{y}/{x}"
#            ]
#        }
#      ])

fig.write_html('precip_avgs_map.html')

+ ## Create warming stripes for one station over time to inspect warming over time.

In [ ]:
city_list = combined_climate_iso['city'].unique().tolist()

In [ ]:
def city_stripes(city):
    city_df = combined_climate_iso[combined_climate_iso['city']==city]
    city_df['date'] = pd.to_datetime(city_df['date'])
    city_stripes = pd.pivot_table(city_df, values='avgtemp_c', index=['date'])
    return city_stripes

In [ ]:
city_stripes('Bedburg')

In [ ]:
ansbach = combined_climate_iso[combined_climate_iso['city']=='Ansbach']
ansbach['date'].dtypes

In [ ]:
pd.to_datetime(ansbach['date']).dtypes

In [ ]:
ansbach.columns

In [ ]:
# Fix 'date' column to datetime dtype
ansbach['date'] = pd.to_datetime(ansbach['date'])

In [ ]:

fig = px.bar(
    ansbach,
    x='date',
    y='avgtemp_c',
    color='avgtemp_c',
    color_continuous_scale='RdBu_r',
    labels={'avgtemp_c': 'Average Temperature'},
)

fig.update_layout(
    title="Ansbach Warming Stripes: Nov'22 - Nov'23",
    xaxis_title='Day of the Year',
    yaxis_title='Average Temperature',
)

fig.show(renderer='notebook_connected')

In [ ]:
ansbach_stripes = pd.pivot_table(ansbach, values='avgtemp_c', index=['date'])
ansbach_stripes

In [ ]:
fig = px.imshow(
    ansbach_stripes.T,  # Transpose the DataFrame for proper orientation
    labels=dict(x="Date", y='Avg Daily Temperature', color="Temperature"),
    color_continuous_scale='RdBu_r',  # Choose a diverging color scale
)

# Customize the layout
fig.update_layout(
    title="Ansbach Stripes; Nov'22 - Nov'23",
    yaxis_title=''
)

#fig.write_html('ansbach_stripes.html', include_plotlyjs='cdn')
fig.show(renderer='notebook_connected')

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

# Sample data (replace this with your data)
data = dict(
    lat=[40.730610],
    lon=[-73.935242],
    country=['USA'],
    image_url=['https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png']
)

# Initialize the Dash app
app = dash.Dash(__name__)

# Define the layout of the app
app.layout = html.Div([
    dcc.Graph(
        id='map',
        config={'scrollZoom': False},
        style={'height': '90vh'}
    )
])

# Define a callback to update the map
@app.callback(
    Output('map', 'figure'),
    [Input('map', 'relayoutData')]
)
def update_map(relayoutData):
    # Create a scatter_mapbox plot with custom markers
    fig = px.scatter_mapbox(
        data,
        lat='lat',
        lon='lon',
        hover_name='country',
        zoom=3,
        mapbox_style='carto-positron',
        opacity=0.7,
    )

    # Add layout images for custom markers
    for i, url in enumerate(data['image_url']):
        fig.add_layout_image(
            dict(
                source=url,
                x=data['lon'][i],
                y=data['lat'][i],
                xref='x',
                yref='y',
                sizex=0.05,
                sizey=0.05,
                xanchor='center',
                yanchor='bottom',
            )
        )

    # Set the layout of the map
    fig.update_layout(
        title='Countries on the Map',
        mapbox=dict(
            style='carto-positron',
            zoom=3,
            center=dict(lat=data['lat'][0], lon=data['lon'][0])
        )
    )

    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [ ]:
moon_lume = combined_climate_iso[['alpha-3', 'country', 'city','lat', 'lon', 'date', 
                     'moonrise_24hr', 'moonset_24hr', 'moon_phase','moon_illumination_num',
                     'avgvis_km', 'wk_maxvis_day', 'wkly_avg_vis','wk_minvis_day', 
                     'mnth_maxvis_day', 'mnthly_avg_vis','mnth_minvis_day']]

In [ ]:
moon_lume['all_lume'] = 100
moon_lume[['all_lume']]

In [ ]:
moon_lume['non_lume'] = 100-(moon_lume['moon_illumination_num'])
moon_lume

In [ ]:
lume_stack = pd.pivot_table(moon_lume, values=['moon_illumination_num'], index=['date','city', 'moon_phase','all_lume','non_lume']).reset_index()

In [ ]:
lume_stack['date'] = pd.to_datetime(lume_stack['date'])
lume_stack[lume_stack['date']=='2022-10-12']

In [ ]:
fig = px.bar(lume_stack[lume_stack['city']=='Dao'], 
             x='city', 
             y=['moon_illumination_num','non_lume'],
             color_discrete_sequence=['#fbf5d7', '#1c0f42'],
             hover_name="moon_phase",
             hover_data={},
             animation_frame='date',
             labels={'value': 'Illumination (%)'},
             title='Moon Illumination Through The Year',
             height=800, width=350)

fig.update_layout(plot_bgcolor= '#1c0f42',barmode='stack', showlegend=False)
fig.update_yaxes(showgrid=False)
fig.update_traces(marker_line_width=0)

fig.show(renderer='notebook_connected')
fig.write_html('moon_illumination_yr.html')

In [ ]:
lume_stack[lume_stack['city']=='Dao']

In [ ]:
import plotly.graph_objects as go
import pandas as pd

# Sample DataFrame (replace this with your actual data)
data = {
    'date': pd.date_range(start='2022-01-01', end='2022-01-10'),
    'moonrise': pd.to_datetime(['2022-01-01 08:00', '2022-01-02 07:45', '2022-01-03 09:30', '2022-01-04 08:15', '2022-01-05 10:00', '2022-01-06 09:45', '2022-01-07 11:30', '2022-01-08 10:15', '2022-01-09 12:00', '2022-01-10 10:45']),
    'moonset': pd.to_datetime(['2022-01-01 18:00', '2022-01-02 17:45', '2022-01-03 19:30', '2022-01-04 18:15', '2022-01-05 20:00', '2022-01-06 19:45', '2022-01-07 21:30', '2022-01-08 20:15', '2022-01-09 22:00', '2022-01-10 20:45']),
}

df = pd.DataFrame(data)

# Create a Dumbbell Plot
fig = go.Figure()

for i, row in df.iterrows():
    fig.add_trace(go.Scatter(
        x=[row['moonrise'], row['moonset']],
        y=[i, i],
        mode='markers+lines',
        name=str(row['date']),
        line=dict(width=2),
        marker=dict(size=10),
        text=['Moonrise', 'Moonset'],
        hoverinfo='text',
    ))

# Update the layout for better visualization
fig.update_layout(
    title='Moonrise and Moonset Times',
    yaxis=dict(tickvals=list(range(len(df))), ticktext=df['date'].dt.strftime('%Y-%m-%d')),
    showlegend=False,
)

# Show the plot
fig.show()

In [ ]:
combined_climate_iso[combined_climate_iso['city']=='Dao']

In [ ]:
combined_climate_iso.columns

In [ ]:
dao_df = combined_climate_iso[combined_climate_iso['city']=='Dao']

fig2_temp = go.Figure()
fig2_temp.add_trace(go.Bar(x=dao_df['date'],
                           y=dao_df['moonset_24hr'] - dao_df['moonrise_24hr'],
                           base=dao_df['moonrise_24hr'],
                           name='Temp Range',
                           marker_color='lightgreen',
                           opacity=0.25,
                           hovertemplate=(
                               'Max Temp: %{y}<br>' +  # Display max temperature
                               'Min Temp: %{base}<br>'  # Display min temperature
                           )
                          ))

  
    
    
    fig2_temp.add_trace(go.Scatter(
        x=df_select['date'],
        y=df_select['avgtemp_c'],
        mode='lines+markers',
        name='Avg Temp',
        line=dict(color='green', width=1),
        marker=dict(color='green', size=2),
        hoverinfo='y+name'
    ))
    fig2_temp.add_shape(
        type="rect",
        x0=df_select['date'].min(),
        x1=df_select['date'].max(),
        y0=-15,  # Set y0 to a very low value
        y1=0,      # Set y1 to 0 for temperatures below 0°C
        fillcolor="red",
        opacity=0.2,
        layer="below",
        xref="x",
        yref="y"
    )
    fig2_temp.add_shape(
        type="rect",
        x0=df_select['date'].min(),
        x1=df_select['date'].max(),
        y0=35,     # Set y0 to 35 for temperatures above 35°C
        y1=50,   # Set y1 to a very high value
        fillcolor="red",
        opacity=0.2,
        layer="below",
        xref="x",
        yref="y"
    )
    fig2_temp.update_layout(
        title='Temperature Data for Each Day',
        xaxis_title='Date',
        yaxis_title='Temperature (°C)',
        template="plotly_dark",
        showlegend=False
    )

In [ ]:
astro_df = combined_climate_iso[['city', 'date', 'sunrise_24hr',
       'sunset_24hr', 'moonrise_24hr', 'moonset_24hr', 'moon_phase',
       'moon_illumination_num']]

In [ ]:
astro_df['moonset_date'] = astro_df['date'].shift(-1)
astro_df.moonset_24hr#.dtype

In [ ]:
#astro_df['sunrise_24hr'] = pd.to_datetime(astro_df['sunrise_24hr'], format='%H:%M').dt.time
#astro_df['sunset_24hr'] = pd.to_datetime(astro_df['sunset_24hr'], format='%H:%M').dt.time
#astro_df['moonrise_24hr'] = pd.to_datetime(astro_df['moonrise_24hr'], format='%H:%M').dt.time
#astro_df['moonset_24hr']= pd.to_datetime(astro_df['moonset_24hr'], format='%H:%M').dt.time

astro_df.sample(10)

In [ ]:
df_1 = astro_df[astro_df['city']=='Dao']

fig2_temp = go.Figure()
fig2_temp.add_trace(go.Bar(x=df_1['date'],
                           y=(df_1['moonset_24hr'] - df_1['moonrise_24hr']),
                           base=df_1['moonrise_24hr'],
                           name='Temp Range',
                           marker_color='lightgreen',
                           opacity=0.25,
                           hovertemplate=(
                               'Max Temp: %{y}<br>' +  # Display max temperature
                               'Min Temp: %{base}<br>'  # Display min temperature
                           )
                          ))

In [ ]:
import plotly.express as px

df = px.data.iris()
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")

fig.update_traces(marker=dict(size=12,
                              line=dict(width=2,
                                        color='DarkSlateGrey')),
                  selector=dict(mode='markers'))
fig.show(renderer='notebook_connected')