In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import pandas as pd

In [8]:
movies = pd.read_csv('./data/movies.csv')
movies

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9724,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9725,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9726,193585,Flint,Drama,2017
9727,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9728,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9729 entries, 0 to 9728
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9729 non-null   int64
 1   title    9729 non-null   object
 2   genres   9729 non-null   object
 3   year     9729 non-null   int64
dtypes: int64(2), object(2)
memory usage: 304.2+ KB

In [20]:
movies.isnull().sum()

movieId    0
title      0
genres     0
year       0
dtype: int64

In [7]:
ratings = pd.read_csv('./data/ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100813     610   166534     4.0  1493848402
100814     610   168248     5.0  1493850091
100815     610   168250     5.0  1494273047
100816     610   168252     5.0  1493846352
100817     610   170875     3.0  1493846415

[100818 rows x 4 columns]

In [13]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100818 entries, 0 to 100817
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100818 non-null  int64
 1   movieId    100818 non-null  int64
 2   rating     100818 non-null  float64
 3   timestamp  100818 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [21]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [9]:
links = pd.read_csv('./data/links.csv')
links

      movieId   imdbId  tmdbId
0           1   114709     862
1           2   113497    8844
2           3   113228   15602
3           4   114885   31357
4           5   113041   11862
...       ...      ...     ...
9717   193581  5476944  432131
9718   193583  5914996  445030
9719   193585  6397426  479308
9720   193587  8391976  483455
9721   193609   101726   37891

[9722 rows x 3 columns]

In [15]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9722 entries, 0 to 9721
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9722 non-null   int64
 1   imdbId   9722 non-null   int64
 2   tmdbId   9722 non-null   int64
dtypes: int64(3)
memory usage: 228.0 KB

In [22]:
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In [10]:
tags = pd.read_csv('./data/tags.csv')
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3675     606     7382         for katie  1171234019
3676     606     7936           austere  1173392334
3677     610     3265            gun fu  1493843984
3678     610     3265  heroic bloodshed  1493843978
3679     610   168248  Heroic Bloodshed  1493844270

[3680 rows x 4 columns]

In [16]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3680 entries, 0 to 3679
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3680 non-null   int64
 1   movieId    3680 non-null   int64
 2   tag        3680 non-null   object
 3   timestamp  3680 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.1+ KB

In [23]:
tags.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64