1. Open empty notebook and read in life_expectancy and continents datasets. Both of these datasets are available from earlier lessons. Life expectancy dataset should be a cleaned version of the original dataset (the outcome of Data Cleansing project milestones).



2. Merge the two dataframes into one using pandas.DataFrame.merge()

**Link to documentation:** [pandas.DataFrame.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html#pandas.DataFrame.merge)

_**Note:** Keep in mind this will render the merged dataframe in your notebook. However in order to execute commands on the merged dataframe you must put it in a variable i.e. df_merged = df1.merge(df2)_

3. Repeat steps 1 and 2 with population and total_fertility (the cleaned versions as well) until you have a single dataframe that contains the information from all four original dataframes

_**Tip:** the column on which the dataframes are merged on must have the same data type in both dataframes. If you have numbers in both but in one dataframe they are strings and the other integers the dataframes will not merge properly. Use .astype() to remedy this._



4. Write new dataframe to hard drive as gapminder_total.csv in this week’s data folder for use in the upcoming lessons.

In [1]:
import pandas as pd

# 1. Open empty notebook and read in life_expectancy and continents datasets (cleaned version).

life_df = pd.read_csv('../data/expectancy_after_1950.csv',index_col=0)
continent_df = pd.read_csv('../data/continents.csv', sep=';')

life_df.dtypes

country             object
year                 int64
life expectancy    float64
dtype: object

In [2]:
continent_df.dtypes

continent    object
country      object
dtype: object

In [3]:
# 2. Merge the two dataframes into one using pandas.DataFrame.merge()

life_cont_merge = life_df.merge(continent_df, how='left', on='country')
life_cont_merge.shape

(13707, 4)

In [4]:
# Repeat steps 1 and 2 with population and total_fertility (the cleaned versions as well) 
# until you have a single dataframe that contains the information from all four original dataframes.

fert_df = pd.read_csv('../data/fertility_after_1950.csv',index_col=0)

fert_df.dtypes

country       object
year           int64
fertility    float64
dtype: object

In [5]:
fert_cont_merge = fert_df.merge(continent_df, how='left', on='country')
fert_cont_merge.shape

(13262, 4)

In [8]:
pop_df = pd.read_csv('../data/population_after_1950.csv',index_col=0)

pop_df['population'] = pop_df['population'].astype(int)

In [9]:
pop_df.dtypes

country       object
year           int64
population     int64
dtype: object

In [15]:
pop_cont_merge = pop_df.merge(continent_df, how='left', on='country')
pop_cont_merge.dtypes

country       object
year           int64
population     int64
continent     object
dtype: object

In [18]:
# 4. Write new dataframe to hard drive as gapminder_total.csv in this week’s data folder
# for use in the upcoming lessons.

fert_pop_merge = fert_cont_merge.merge(pop_cont_merge, how='outer', on=['year','country','continent'])
fert_pop_merge.dtypes

country        object
year            int64
fertility     float64
continent      object
population    float64
dtype: object

In [19]:
all_merge = fert_pop_merge.merge(life_cont_merge, how='outer', on=['country','year','continent'])
all_merge.shape

(16953, 6)

In [20]:
# I've rearranged the columns to a more logical order

prefered_order = ['year','country','continent','population','fertility','life expectancy']
all_merge = all_merge[prefered_order]
all_merge

,year,country,continent,population,fertility,life expectancy
0,1950,Afghanistan,Asia,7752118.0,7.67,26.85
1,1950,Albania,Europe,1263171.0,5.80,54.48
2,1950,Algeria,Africa,8872247.0,7.65,42.77
3,1950,Angola,Africa,4354882.0,6.93,30.70
4,1950,Antigua and Barbuda,North America,46301.0,4.45,57.97
...,...,...,...,...,...,...
16948,2016,Virgin Islands (U.S.),NaN,NaN,NaN,80.82
16949,2016,Yemen,Asia,NaN,NaN,64.92
16950,2016,Zambia,Africa,NaN,NaN,57.10
16951,2016,Zimbabwe,Africa,NaN,NaN,61.69
16952,2016,South Sudan,Africa,NaN,NaN,56.10

In [21]:
all_merge.dtypes

year                 int64
country             object
continent           object
population         float64
fertility          float64
life expectancy    float64
dtype: object

In [22]:
all_merge.to_csv('../data/gapminder_total.csv')

In [25]:
# I've re-imported to remove the null values

gapminder_total = pd.read_csv('../data/gapminder_total.csv',index_col=0)
gapminder_total.isnull().sum()

year                  0
country               0
continent          5033
population          212
fertility          3691
life expectancy    3246
dtype: int64

In [31]:
gapminder_no_null = gapminder_total.dropna(axis=0, subset=['continent'])
gapminder_no_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11920 entries, 0 to 16952
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             11920 non-null  int64
 1   country          11920 non-null  object
 2   continent        11920 non-null  object
 3   population       11748 non-null  float64
 4   fertility        11088 non-null  float64
 5   life expectancy  11404 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 651.9+ KB

In [32]:
gapminder_no_null.to_csv('../data/gapminder_cont_vals.csv')